.container-inner {
  padding: 10px 30px;
}

.logo {
  margin: 10px 0;
}

.logo img {
  width: 100%;
  height: 50px;
  object-fit: contain;
  object-position: left;
}

.main-navigation {
  margin-top: 15px;
}

.count-cart:after {
  display: none;
}

.menu-overflow {
  height: 100%;
  max-height: 500px;
}
.product-link {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.footer-logo {
  width: 150px;
}
.footer-logo img {
  width: 100%;
}
.breadcrumb-area {
  background: url(../images/breadcrumb-bg/tea.jpg) no-repeat bottom center;
  background-size: cover;
  padding: 160px 0;
}
.-no-bgr {
  background: none !important;
  padding: 40px 0 0;
}
.feature-slider-item .img-block {
  height: 120px;
}
.img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .home-4 .logo {
    margin-top: 10px;
  }
  .home-4 .header_account_area {
    margin-right: 40px;
    margin-top: 18px;
  }
  .home-4 .mean-container a.meanmenu-reveal {
    top: -47px;
  }
}
@media only screen and (max-width: 767px) {
  .home-4 .home-2 .header-navigation {
    padding: 35px 0 35px 0;
  }
  .logo {
    margin: 0;
    width: 100%;
  }
  .mini-cart-warp {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mean-container a.meanmenu-reveal {
    right: 15px;
    top: -38px;
  }
}

@media only screen and (max-width: 575px) {
  .home-2 .header_account_list {
    margin-top: 0;
  }
  .home-4 .cart-info {
    margin: 0 0 0 15px;
  }
}
