<!-- Header Top Start -->
<div class="header-top-nav">
  <div class="container">
    <div class="row">
      <!--Left Start-->
      <div class="col-lg-4 col-md-4">
        <div class="left-text">
          <p>Chào mừng bạn đến với SẢN VẬT MIỀN NÚI!</p>
        </div>
      </div>
      <!--Left End-->
    </div>
  </div>
</div>
<!-- Header Top End -->
<!-- Header Buttom Start -->
<div class="header-navigation sticky-nav">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <!-- Logo Start -->
        <div class="col-md-2 col-sm-2">
          <div class="logo">
            <a href="index.html"
              ><img src="assets/images/logo/logo.jpg" alt=""
            /></a>
          </div>
        </div>
        <!-- Logo End -->
        <!-- Navigation Start -->
        <div class="col-md-10 col-sm-10">
          <!--Main Navigation Start -->
          <div class="main-navigation d-none d-lg-block">
            <ul>
              <li><a href="/">Trang chủ</a></li>
              <li class="menu-dropdown">
                <a href="#">Shop <i class="ion-ios-arrow-down"></i></a>
                <ul class="mega-menu-wrap">
                  <li>
                    <ul>
                      <li class="mega-menu-title">
                        <a href="#">Shop Single</a>
                      </li>
                      <li>
                        <a href="single-product-slider.html">Shop Slider</a>
                      </li>
                      <li>
                        <a href="single-product-gallery-left.html"
                          >Shop Gallery Left</a
                        >
                      </li>
                      <li>
                        <a href="single-product-gallery-right.html"
                          >Shop Gallery Right</a
                        >
                      </li>
                      <li>
                        <a href="single-product-sticky-left.html"
                          >Shop Sticky Left</a
                        >
                      </li>
                      <li>
                        <a href="single-product-sticky-right.html"
                          >Shop Sticky Right</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="/contact">Liên hệ</a></li>
            </ul>
          </div>
          <!--Main Navigation End -->
          <!--Header Bottom Account Start -->
          <div class="header_account_area">
            <!--Seach Area Start -->
            <div class="header_account_list search_list">
              <a href="javascript:void(0)"
                ><i class="ion-ios-search-strong"></i
              ></a>
              <div class="dropdown_search">
                <form action="#">
                  <input
                    placeholder="Search entire store here ..."
                    type="text"
                  />
                  <div class="search-category">
                    <select class="bootstrap-select" name="poscats">
                      <option value="0">All categories</option>
                      <option value="104">Fresh Food</option>
                      <option value="183">- - Fresh Fruit</option>
                      <option value="187">- - - - Bananas</option>
                      <option value="188">- - - - Apples &amp; Pears</option>
                      <option value="189">
                        - - - - Berries &amp; Cherries
                      </option>
                      <option value="190">
                        - - - - Oranges &amp; Citrus Fruit
                      </option>
                      <option value="191">- - - - Grapes</option>
                      <option value="184">- - Fresh Vegetables</option>
                      <option value="192">
                        - - - - Potatoes &amp; Sweet Potatoes
                      </option>
                      <option value="193">- - - - Onions &amp; Leeks</option>
                      <option value="194">
                        - - - - Carrots &amp; Root Vegetables
                      </option>
                      <option value="195">
                        - - - - Broccoli &amp; Cauliflower
                      </option>
                      <option value="196">- - - - Cabbages &amp; Greens</option>
                    </select>
                  </div>
                  <button type="submit">
                    <i class="ion-ios-search-strong"></i>
                  </button>
                </form>
              </div>
            </div>
            <!--Seach Area End -->
            <!--Cart info Start -->
            <div class="cart-info d-flex">
              <div class="mini-cart-warp">
                <a href="#" class="count-cart"></a>
                <div class="mini-cart-content">
                  <ul>
                    <li class="single-shopping-cart">
                      <div class="shopping-cart-img">
                        <a href="single-product.html"
                          ><img
                            alt=""
                            src="assets/images/product-image/mini-cart/1.jpg"
                        /></a>
                        <span class="product-quantity">1x</span>
                      </div>
                      <div class="shopping-cart-title">
                        <h4>
                          <a href="single-product.html">Juicy Couture...</a>
                        </h4>
                        <span>9.00</span>
                        <div class="shopping-cart-delete">
                          <a href="#"><i class="ion-android-cancel"></i></a>
                        </div>
                      </div>
                    </li>
                    <li class="single-shopping-cart">
                      <div class="shopping-cart-img">
                        <a href="single-product.html"
                          ><img
                            alt=""
                            src="assets/images/product-image/mini-cart/2.jpg"
                        /></a>
                        <span class="product-quantity">1x</span>
                      </div>
                      <div class="shopping-cart-title">
                        <h4>
                          <a href="single-product.html">Water and Wind...</a>
                        </h4>
                        <span>11.00</span>
                        <div class="shopping-cart-delete">
                          <a href="#"><i class="ion-android-cancel"></i></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="shopping-cart-total">
                    <h4>Subtotal : <span>20.00</span></h4>
                    <h4>Shipping : <span>7.00</span></h4>
                    <h4>Taxes : <span>0.00</span></h4>
                    <h4 class="shop-total">Total : <span>27.00</span></h4>
                  </div>
                  <div class="shopping-cart-btn text-center">
                    <a class="default-btn" href="checkout.html">Thanh toán</a>
                  </div>
                </div>
              </div>
            </div>
            <!--Cart info End -->
          </div>
        </div>
      </div>
      <!-- mobile menu -->
      <div class="mobile-menu-area">
        <div class="mobile-menu">
          <nav id="mobile-menu-active">
            <ul class="menu-overflow">
              <li><a href="/">Trang chủ</a></li>
              <li>
                <a href="#">Danh mục</a>
                <ul>
                  <li>
                    <a href="#">Single Shop</a>
                    <ul>
                      <li>
                        <a href="single-product-slider.html">Shop Slider</a>
                      </li>
                      <li>
                        <a href="single-product-gallery-left.html"
                          >Shop Gallery Left</a
                        >
                      </li>
                      <li>
                        <a href="single-product-gallery-right.html"
                          >Shop Gallery Right</a
                        >
                      </li>
                      <li>
                        <a href="single-product-sticky-left.html"
                          >Shop Sticky Left</a
                        >
                      </li>
                      <li>
                        <a href="single-product-sticky-right.html"
                          >Shop Sticky Right</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="/contact">Liên hệ</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- mobile menu end-->
    </div>
  </div>
</div>
<!--Header Bottom Account End -->
