<!-- Header Top Start -->
<div class="header-top-nav">
  <div class="container">
    <div class="row">
      <!--Left Start-->
      <div class="col">
        <div class="left-text">
          <p>Chào mừng bạn đến với <strong>SẢN VẬT MIỀN NÚI!</strong></p>
        </div>
      </div>
      <!--Left End-->
    </div>
  </div>
</div>
<!-- Header Top End -->
<!-- Header Buttom Start -->
<div class="header-navigation sticky-nav">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <!-- Logo Start -->
        <div class="col-md-2 col-sm-2">
          <div class="logo">
            <a href="/"
              ><img src="/assets/images/logo/logo-main.png" alt="Logo"
            /></a>
          </div>
        </div>
        <!-- Logo End -->
        <!-- Navigation Start -->
        <div class="col-md-10 col-sm-10">
          <!--Main Navigation Start -->
          <div class="main-navigation d-none d-lg-block">
            <ul>
              <li><a href="/">Trang chủ</a></li>
              <li><a href="/cart">Giỏ hàng</a></li>
              <li><a href="/about-us">Về chúng tôi</a></li>
              <li><a href="/contact">Liên hệ</a></li>
            </ul>
          </div>
          <!--Main Navigation End -->
          <!--Header Bottom Account Start -->
          <div class="header_account_area">
            <!-- Seach Area Start -->
            <!-- <div class="header_account_list search_list">
              <a href="javascript:void(0)"
                ><i class="ion-ios-search-strong"></i
              ></a>
              <div class="dropdown_search">
                <form action="#">
                  <input
                    placeholder="Search entire store here ..."
                    type="text"
                  />
                  <div class="search-category">
                    <select class="bootstrap-select" name="poscats">
                      <option value="0">All categories</option>
                      <option value="104">Fresh Food</option>
                      <option value="183">- - Fresh Fruit</option>
                      <option value="187">- - - - Bananas</option>
                      <option value="188">- - - - Apples &amp; Pears</option>
                      <option value="189">
                        - - - - Berries &amp; Cherries
                      </option>
                      <option value="190">
                        - - - - Oranges &amp; Citrus Fruit
                      </option>
                      <option value="191">- - - - Grapes</option>
                      <option value="184">- - Fresh Vegetables</option>
                      <option value="192">
                        - - - - Potatoes &amp; Sweet Potatoes
                      </option>
                      <option value="193">- - - - Onions &amp; Leeks</option>
                      <option value="194">
                        - - - - Carrots &amp; Root Vegetables
                      </option>
                      <option value="195">
                        - - - - Broccoli &amp; Cauliflower
                      </option>
                      <option value="196">- - - - Cabbages &amp; Greens</option>
                    </select>
                  </div>
                  <button type="submit">
                    <i class="ion-ios-search-strong"></i>
                  </button>
                </form>
              </div>
            </div> -->
            <!--Seach Area End -->
            <!--Cart info Start -->
            <div class="cart-info d-flex">
              <div class="mini-cart-warp">
                <a href="/cart" class="count-cart"></a>
              </div>
            </div>
            <!--Cart info End -->
          </div>
        </div>
      </div>
      <!-- mobile menu -->
      <div class="mobile-menu-area">
        <div class="mobile-menu">
          <nav id="mobile-menu-active">
            <ul class="menu-overflow">
              <li><a href="/">Trang chủ</a></li>
              <li><a href="/about-us">Về chúng tôi</a></li>
              <li><a href="/contact">Liên hệ</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- mobile menu end-->
    </div>
  </div>
</div>
<!--Header Bottom Account End -->
