<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="description" content="" />
<meta name="author" content="Ryder Dinh" />
<meta
  name="Content-Security-Policy-Report-Only"
  content="default-src 'self'; script-src 'report-sample' 'self'; style-src 'report-sample' 'self'; object-src 'none'; base-uri 'self'; connect-src 'self'; font-src 'self'; frame-src 'self'; img-src 'self'; manifest-src 'self'; media-src 'self'; report-uri https://61b2dd2014685c32c2347663.endpoint.csper.io/?v=0; worker-src 'none';"
/>
<title><%=title%></title>
<!-- Favicon -->
<link rel="icon" href="/admin/assets/img/brand/favicon.png" type="image/png" />
<!-- Fonts -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
/>
<!-- Icons -->
<link
  rel="stylesheet"
  href="/admin/assets/vendor/nucleo/css/nucleo.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="/admin/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
  type="text/css"
/>
<!-- Page plugins -->
<link rel="stylesheet" href="/admin/assets/vendor/quill/dist/quill.core.css" />
<link
  rel="stylesheet"
  href="/admin/assets/vendor/select2/dist/css/select2.min.css"
/>

<link
  rel="stylesheet"
  href="/admin/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/admin/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/admin/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/admin/assets/vendor/sweetalert2/dist/sweetalert2.min.css"
/>

<!-- Argon CSS -->
<link
  rel="stylesheet"
  href="/admin/assets/css/argon.css?v=1.1.0"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="/admin/assets/css/app.css?v=1.1.0"
  type="text/css"
/>
